<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/estilos/estiloscss.css" rel="stylesheet" />

</head>

<body class="index">
    <header>
        <nav class="menuHorizontal">

            <ul>

                <li>
                    <a href="~/Admin">Inicio</a>
                </li>
                <li>
                    <a href="~/Admin/Equipos">Administrar equipos</a>
                </li>
                <li>
                    <a href="~/Admin/Integrante">Administrar integrantes</a>
                </li>
                <li>
                    <a href="~/Account/Logout">Cerrar sesión</a>
                </li>


            </ul>
        </nav>
    </header>
    <main style="margin-top: -20px;">
        @RenderBody()
    </main>
</body>

</html>