@model IEnumerable<Unidad4and5EquiposFut.Models.Integrante>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<body>
    <section class="listaT" style="color:white;   background-color: #3c83bc ">
        <h1 style="color:white">Area de mantenimiento</h1>
        <a href="~/Admin/Integrante/Agregar" style="font-weight:bold; line-height: 20px; width: 60px; height: 20px; display: block; text-align: center; text-decoration: none; background-color: #3c83bc; color: white; padding: 5px; border: 1px solid black; float: right;margin-right:5px ">
            New
        </a>
        <div class="listaT">
            @foreach (var item in Model)
            {
                <ul class="list">
                    <li>
                        <h2 style="color:black" id="NCamiseta">@item.Nombre</h2>
                        @*<a href="~/equipo/informacion/@item.Nombre.Replace(" ","-")">*@
                        @if (System.IO.File.Exists($"{env.WebRootPath}/imgs_integrantes/{item.Id}_i.jpg"))
                        {
                            <img  src="~/imgs_integrantes/@(item.Id)_i.jpg" />
                        }
                        else
                        {
                            <img style="height:120px" src="~/imgs/IntegranteNoEncontrado.png" />
                        }

                        @*<img src="~/imgs_equipos/@(item.Id)_e.jpg" />*@
                        @*</a>*@
                        <div class="btnAdm">
                            <a href="~/Admin/Integrante/Modificar/@(item.Id)">Editar</a>
                            <a href="~/Admin/Integrante/Eliminar/@(item.Id)">Eliminar</a>
                        </div>
                    </li>

                </ul>

            }
        </div>
    </section>
</body>


